[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"
# This is the same version as in alpine:3.8, so pipenv will ignore it
# because it will already be installed from a system package
psutil = "==5.6.6"

[dev-packages]
pytest = "*"
black = "*"
pytest-sugar = "*"
uwsgi = "*"
rope = "*"
ipython = "*"

[requires]
python_version = "3.6"
