[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
marshmallow = "*"

[dev-packages]
pytest = "*"
black = "*"
pytest-sugar = "*"

[requires]
python_version = "3.6"
